@model IEnumerable<MyBookingsViewModel>;
@{
    ViewBag.Title = "My Bookings";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var item in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <div class="card-body">
                @await Html.PartialAsync("_MyBookingsFormPartial", item)
            </div>
        </div>

    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
