@model ReportViewModel

<div class="card col-4" style="width: 20rem; ">
    <div class="card-body">
        <h5 class="card-title mt-1">@Model.Name</a></h5>
    </div>

    <a asp-controller="Reports" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-info mb-2 w-100 p-3 fw-bold">Create Report</a>
</div>