@model ReportViewModel

<div class="card col-4" style="width: 20rem; ">
    <div class="card-body">
        <h5 class="card-title mt-1">@Model.Name</a></h5>
    </div>

    <a asp-controller="Reports" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-info mb-2 w-100 p-3 fw-bold">Create Report</a>
    @* @if (User?.Identity?.Name == e.Organizer)
    {
    <a asp-controller="Seminar" asp-action="Edit" asp-route-id="@e.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
    }
    else
    {
    <form class="input-group-sm" asp-controller="Seminar" asp-action="Join" asp-route-id="@e.Id">
    <input type="submit" value="Subscribe" class="fs-6 btn btn-warning mb-2 w-100 p-3 fw-bold" />
    </form>
    } *@
</div>