@model MyBookingsViewModel

<div>
    <h5>My Adventure will be with</h5>
    <input asp-for="Motorcycle.Brand" class="form-control" aria-required="true" disabled="true" />

    <input asp-for="Motorcycle.Model" class="form-control" aria-required="true" disabled="true" />

    <label asp-for="StartDate">will start on</label>
    <input class="form-control" type="date" asp-for="StartDate" />

    <label asp-for="EndDate">will end on ;(</label>
    <input class="form-control" type="date" asp-for="EndDate" />

    <a asp-controller="Motorcycle" asp-action="Details" asp-route-id="@Model.Motorcycle.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Details</a>
</div>