@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MotoBalkans</h1>
    <h3>Why us?</h3>
    <ul class="">
        <p>Brand new bikes!</p>
        <p>Brand new adventures!</p>
        <p>Brand new skills!</p>
    </ul>

    <a asp-controller="Search" asp-action="Index" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Search NOW!!!</a>
</div>
