@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MotoBalkans</h1>
    <h3>Защо ние?</h3>
    <ul class="">
        <li">Чисто нови мотоциклети.</li>
        <li>Нови приключения.</li>
        <li>Подобрете вашите умения.</li>
    </ul>
</div>
