@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">

    <div>
        <header>
            <h1>Welcome to MotoBalkans Motorcycle Rentals</h1>
            <p>Explore the Freedom of the Open Road</p>
        </header>

        <main>
            <section>
                <h2>Why Choose MotoBalkans?</h2>
                <ul>
                    <p><strong>Quality Bikes:</strong> We offer a fleet of well-maintained motorcycles from leading brands.</p>
                    <p><strong>Convenient Rentals:</strong> Our rental process is simple and hassle-free.</p>
                    <p><strong>Competitive Rates:</strong> Affordable pricing with no hidden fees.</p>
                    <p><strong>Safety First:</strong> Your safety is our priority.</p>
                </ul>
            </section>

            <section>
                <h2>Our Motorcycle Collection</h2>
                <p>Explore our diverse range of Adventure Bikes suitable for every rider.</p>
            </section>

            <section>
                <h2>How It Works</h2>
                <ol>
                    <p>Choose Your Bike: Browse our collection and select the motorcycle that suits your preferences.</p>
                    <p>Book Online: Reserve your bike online through our secure booking system.</p>
                    <p>Pick Up or Delivery: Collect your motorcycle or opt for delivery to your doorstep.</p>
                    <p>Hit the Road: Enjoy your ride and make unforgettable memories.</p>
                </ol>
            </section>
        </main>
    </div>

    <a asp-controller="Search" asp-action="Index" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Search NOW!!!</a>
</div>
